body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

code {
  background-color: lightgray;
}

dt dd {
  font-size: 14px;
}

dt {
  font-weight: bold;
}

dd {
  font-style: italic;
}
